<h3 class="text-left">Previous Seasons</h3>
<ul>
  <li>
    <a href="{{ site.url }}/projects/call-for-scores/index.html">Current</a>
  </li>
  <li>2017-18
    <ul>
      <li><a href="{{ site.url }}/projects/call-for-scores/2017-18-call-for-workshop-participation.html">Call for Workshop Participation</a></li>
      <li><a href="{{ site.url }}/projects/call-for-scores/index.html">Participants</a></li>
    </ul>
  </li>
  <li>2016-17
    <ul>
      <li><a href="{{ site.url }}/projects/call-for-scores/2016-17-call-and-commission-details.html">Call for Scores Information</a></li>
      <li><a href="{{ site.url }}/projects/call-for-scores/2016-17-winners.html">Winners</a></li>
    </ul>
  </li>
</ul>
