<!-- Ensemble listing -->
<div class="row m-b-100">
  <div class="col-md-12">
    <div class="special-heading text-center">
      <h2 class="mt-5"><a class="offset" id="musicians">Musicians</a></h2>
    </div>
  </div>
  {%- for person in site.data.members -%}
    <div class="col-sm-6 col-md-4">
      <div class="team-item m-b-30">
        <div class="team-image"><img src="{{ site.images }}/ensemble/{{ person.headshot }}" alt="">
          <div class="team-content">
            <h5>{{ person.name }}</h5>
            {%- if person.title -%}<p>{{ person.title }}</p>{%- endif -%}
            {%- if person.role -%}<p><span class="emphasis">{{ person.role }}</span></p>{%- endif -%}
          </div>
          <div class="team-content-social">
            <ul>
              <li><a href="/about/ensemble/{{ person.name | downcase | replace: ' ', '-' | replace: '.', '' }}.html"><i class="fa fa-info-circle" aria-hidden="true"></i></a></li>
              {%- for link in person.links -%}
                {%- if link.email -%}<li><a href="mailto:{{ link.email }}"><i class="fa fa-envelope" aria-hidden="true"></i></a></li>{%- endif -%}
                {%- if link.website -%}<li><a href="{{ link.website }}" target="_blank"><i class="fa fa-globe" aria-hidden="true"></i></a></li>{%- endif -%}
                {%- if link.facebook -%}<li><a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>{%- endif -%}
                {%- if link.twitter -%}<li><a href="https://www.twitter.com/" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>{%- endif -%}
              {%- endfor -%}
            </ul>
          </div>
        </div>
      </div>
    </div>
  {%- endfor -%}
</div>
<!-- Ensemble listing end-->
