<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-5">
        <!-- Recent entries widget-->
        <aside class="widget widget_recent_entries">
          <div class="widget-title">
            <h5>Recent & Upcoming Performances</h5>
          </div>
          {% include home-latest-performances.html %}
        </aside>
      </div>
        <div class="col-sm-1"></div>
      <div class="col-sm-6">
        <!-- Recent entries widget-->
        <aside class="widget widget_recent_entries">
          <div class="widget-title">
            <h5>Latest News</h5>
          </div>
          {% include home-latest-news.html %}
        </aside>
      </div>


      <!-- <div class="col-md-6 col-lg-3">
        <aside class="widget widget_tag_cloud">
          <div class="widget-title">
            <h5>Tags</h5>
          </div>
          <div class="tagcloud"><a href="#">Design</a><a href="#">Travel</a><a href="#">Startup</a><a href="#">Music</a><a href="#">Portfolio</a><a href="#">Responsive</a></div>
        </aside>
      </div> -->
    </div>
    <div class="row">
      <div class="col-12">
        <!-- Text widget-->
        <aside class="widget widget_text">
          <div class="widget-title">
            <h5>Contact</h5>
          </div>
            <p class="text-center">Get in touch. We would love to hear from you.</p>


            <div class="text-center">    To sign up for our mailing list, <button onclick="showPopup(); return false;" id="show-popup" class="btn-subscribe"><font color="#2275d7">click here.</font></button></center>
<!--
            <script type="text/javascript" src="//downloads.mailchimp.com/js/signup-forms/popup/unique-methods/embed.js" data-dojo-config="usePlainJson: true, isDebug: false"></script>

    <!--        <script type="text/javascript">window.dojoRequire(["mojo/signup-forms/Loader"], function(L) { L.start({"baseUrl":"mc.us10.list-manage.com","uuid":"193ef51b6e3ed72a827210ea8","lid":"a945776cae","uniqueMethods":true}) })</script>
-->
<!--
          <script>
            function showMailingPopUp() {
            require(["mojo/signup-forms/Loader"], function(L) { L.start({"baseUrl":"mc.us10.list-manage.com","uuid":"193ef51b6e3ed72a827210ea8","lid":"a945776cae"}) })
            };
            document.getElementById(“open-popup”).onclick = function() {showMailingPopUp()};
            </script>
-->





            <script type="text/javascript" src="//downloads.mailchimp.com/js/signup-forms/popup/unique-methods/embed.js" data-dojo-config="usePlainJson: true, isDebug: false"></script>

            <script type="text/javascript">
              function showPopup() {
                  window.dojoRequire(["mojo/signup-forms/Loader"], function(L) { L.start({"baseUrl":"mc.us10.list-manage.com","uuid":"193ef51b6e3ed72a827210ea8","lid":"a945776cae","uniqueMethods":true}) });
            //unsetting the cookie
              document.cookie = "MCPopupClosed=; expires=Thu, 01 Jan 1970 00:00:00 UTC";
              document.cookie = "MCPopupSubscribed=; expires=Thu, 01 Jan 1970 00:00:00 UTC";
              }

              document.getElementById("show-popup").onclick = function() { showPopup(); }


</script>
</div>

        <!--
         To sign up for our mailing list, <button onclick="showMailingPopUp(); return false;" id="open-popup">click here.</button>

            <script type="text/javascript" src="//downloads.mailchimp.com/js/signup-forms/popup/embed.js" data-dojo-config="usePlainJson: true, isDebug: false"></script>
            <script>
            function showMailingPopUp() {
              require(
                ["mojo/signup-forms/Loader"],
                function(L) {
                  L.start({"baseUrl":"mc.us10.list-manage.com","uuid":"193ef51b6e3ed72a827210ea8","lid":"a945776cae"})
                }
              );

              document.cookie = 'MCPopupClosed=;path=/;expires=Thu, 01 Jan 1970 00:00:00 UTC;';
              document.cookie = 'MCPopupSubscribed=;path=/;expires=Thu, 01 Jan 1970 00:00:00 UTC;';
            }

            document.getElementById("open-popup").onclick = function() {showMailingPopUp()};
            </script>

STUFF -->


            <div class="col-md-6 mx-auto">
              <div class="d-flex justify-content-between">
                <a href="mailto:switchensemble@gmail.com"><i class="fa fa-envelope" aria-hidden="true"></i></a>
                <a href="https://www.facebook.com/SwitchEnsemble/"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                <a href="https://twitter.com/switchensemble"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                <a href="https://www.instagram.com/switchensemble/"><i class="fa fa-instagram" aria-hidden="true"></i></a>
              </div>
            </div>
        </aside>
      </div>

    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="text-center"><span class="copyright">sound for your ears</span></div>
        </div>
      </div>
    </div>
  </div>
</footer>
