<footer class="footer mt-0" id="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="title">
          About Switch~
        </div>
        <ul class="menu">
          <li>
            <a href="#">Here</a>
          </li>
          <li>
            <a href="#">Are</a>
          </li>
          <li>
            <a href="#">Some</a>
          </li>
          <li>
            <a href="#">Links</a>
          </li>
        </ul>
      </div>
      <div class="col-md-4">
        <div class="title">
          Connect with us
        </div>
        <ul class="menu">
          <li>
            <a href="#">
              <i class="fa fa-facebook"></i>
              Facebook
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-instagram"></i>
              Instagram
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-twitter"></i>
              Twitter
            </a>
          </li>
        </ul>
      </div>
      <div class="col-md-4 newsletter">
        <div class="title">
          Get Updates
        </div>
        <p>
          Enter your email address to sign up for our newsletter.
        </p>

        <form class="newsletter-form" autocomplete="off">
          <input type="email" id="mc-email" class="form-control" placeholder="Email address" required />

          <button type="submit">
            <i class="fa fa-chevron-right"></i>
          </button>
          <label for="mc-email" class="text-white newsletter-feedback mt-3"></label>
        </form>
      </div>
    </div>
  </div>
</footer>
