<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<title>{{ site.title }}</title>

<!-- favicons and app icons -->
<link rel="apple-touch-icon" sizes="180x180" href="{{ site.assets }}/images/favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="{{ site.assets }}/images/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="{{ site.assets }}/images/favicon/favicon-16x16.png">
<link rel="manifest" href="{{ site.assets }}/images/favicon/manifest.json">
<link rel="mask-icon" href="{{ site.assets }}/images/favicon/safari-pinned-tab.svg" color="#0d5fff">
<link rel="shortcut icon" href="{{ site.assets }}/images/favicon/favicon.ico">
<meta name="msapplication-config" content="{{ site.assets }}/images/favicon/browserconfig.xml">
<meta name="theme-color" content="#ffffff">

<!-- Bootstrap CSS file -->
<link rel="stylesheet" type="text/css" href="{{ site.assets }}/css/bootstrap/bootstrap.css" />
<!-- Spacial Theme CSS file -->
<link rel="stylesheet" type="text/css" href="{{ site.assets }}/css/spacial.css" />
<!-- Switch CSS file -->
<link rel="stylesheet" type="text/css" href="{{ site.assets }}/css/switch.css" />
