<div class="latest-news">

	{% assign sortedNewsPosts = site.posts | where_exp:"item", "item.categories contains 'news'" %}
	<ul>
		{%- for post in sortedNewsPosts limit:10 -%}

		{% comment %} <span><strong>{{ post.title }}</strong>. {{ post.excerpt | remove: '<p>' | remove: '</p>' }} <a href="{{ post.url }}"><i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i></a></span> {% endcomment %}
			<li>
				<div class="post-date">{{ post.date | date: "%B %d, %Y" }}</div>
				<a data-fancybox data-type="iframe" href="{{ post.url }}" target="_blank">
					<div class="row justify-content-start">
							<div class="col-3"><img src="{{ site.images }}/{{ post.thumbnail }}" class="rounded media-left img-fluid" alt="thumbnail" height="100%" width="100"></div>

				<div class="media-body col-9">	<strong>{{ post.title }}</strong>
					<br> {{ post.content | remove: '<p>' | remove: '</p>' | truncatewords: 24 }}
			</div></div>	</a>
			</li>
		{% endfor %}
	</ul>
</div>
