{%- for entry in site.data.navigation -%}
{%- capture fullurl -%}{{ site.baseurl }}{{ entry.url }}{%- endcapture -%}
    {%- if page.url == fullurl or page.url contains fullurl -%}
        {%- assign current_page = fullurl -%}
    {%- endif -%}
{%- endfor -%}

<nav class="navbar fixed-top navbar-expand-sm navbar-dark bg-dark {% if page.url == "/" %}bg-transparent{% endif %}">
  <div class="container">
    <a class="navbar-brand" href="/">
      <img src="/assets/images/switch-white-icon.png" height="25" width="30" alt="[~]">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
      <ul class="navbar-nav">
        {%- for entry in site.data.navigation -%}

          {% if entry.url == current_page %}
            {% assign current = "active" %}
          {% else %}
            {% assign current = nil %}
          {% endif %}

          {%- if entry.sublinks -%}

            <li class="nav-item dropdown">
              <a class="nav-link {{ current -}}" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{ entry.title }}
              </a>
              <div class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDropdownMenuLink">
                {%- for sublink in entry.sublinks -%}
                    <a class="dropdown-item" href="{{ site.url }}{{ sublink.url }}">{{ sublink.page }}</a>
                {%- endfor -%}
              </div>
            </li>

          {%- else -%}

            <li class="nav-item">
              <a class="nav-link {{ current }}" href="{{ site.url }}{{ entry.url }}" alt="{{ entry.title }}">{{ entry.title }}</a>
            </li>

          {%- endif -%}

        {%- endfor -%}
      </ul>
    </div>
  </div>
</nav>
