<div class="row row-portfolio-filter">
	<div class="col-sm-12">
		<ul class="h5 filters">
			<li><a href="{{ site.url }}/media/photos/harvard.html">HGNM Residency</a></li>
			<li><a href="{{ site.url }}/media/photos/eastman2019.html">ImageSound2019</a></li>
			<li><a href="{{ site.url }}/media/photos/yip-recording-session.html">Yip Recording</a></li>
      <li><a href="{{ site.url }}/media/photos/mata.html">MATA</a></li>
      <li><a href="{{ site.url }}/media/photos/vipa.html">VIPA</a></li>
      <li><a href="{{ site.url }}/media/photos/avaloch.html">Avaloch</a></li>
      <li><a href="{{ site.url }}/media/photos/qnmf.html">QNMF</a></li>
      <li><a href="{{ site.url }}/media/photos/uchicago.html">University of Chicago</a></li>
			<li><a href="{{ site.url }}/media/photos/ny-tour.html">Upstate NY Tour 2018</a></li>
			<li><a href="{{ site.url }}/media/photos/berkeley+c4nm.html">UC Berkeley and SF C4NM</a></li>
  <!--    <li><a href="#"></a></li>
      <li><a href="#"></a></li>
      <li><a href="#"></a></li> -->
		</ul>
	</div>
</div>
