<!-- Portfolio-->
<section class="module p-0">
	<div class="container-fluid">
		<div class="row row-portfolio" data-columns="3">
			<div class="grid-sizer"></div>
			{%- for image in image_files -%}
				{%- if image.path contains include.folderName -%}
					<div class="portfolio-item p-1">
						<div class="portfolio-wrapper">
							<img src="{{ image.path }}" alt="{{ image.basename }}">
							<!-- <div class="portfolio-overlay"></div> -->
							<!-- <div class="portfolio-caption"><h5 class="portfolio-title">Title Goes Here</h5></div> -->
							<a class="portfolio-link" href="{{ image.path }}"></a>
						</div>
					</div>
				{%- endif -%}
			{%- endfor -%}
		</div>
	</div>
</section>
<!-- Portfolio end-->
