---
layout: page
title: Audio and Video
---

{%- assign sortedRep = site.repertoire | sort: 'composer.last' -%}

{%- for piece in sortedRep -%}
  {%- for item in piece.media -%}
    {%- unless item.url == nil -%}

    <!-- Media entry-->
    <div class="row mb-3">
      <div class="col-md-8">
        {%- if item.url contains 'youtube' or item.url contains 'vimeo' -%}
          <div class="mb-3"><iframe class="embed-responsive-item mb-3" src="{{ item.url }}" allowfullscreen></iframe></div>
        {%- elsif item.url contains 'soundcloud' -%}
          <div class="mb-3">{% include soundcloud_player.html trackID=item.ID %}</div>
        {%- else -%}
          <a href="#"><img src="{{site.images}}/repertoire-images/switch_misc_1000x500px.jpg" alt=""></a>
        {%- endif -%}
      </div>
      <div class="col-md-4 pb-4">
        <div class="portfolio-details border-left">
          <h3 class="text-left">About:</h3>
          <p class="mb-1">
            <span class="h4">Composer: </span>
            <span class="text-secondary">{{ piece.composer.first }} {{ piece.composer.last }}</span>
          </p>
          <p class="mb-1">
            <span class="h4">Title: </span>
            <span class="text-secondary">{{ piece.title }}</span>
          </p>
          {%- if piece.yearComposed -%}
            <p class="mb-1">
              <span class="h4">Year Composed: </span>
              <span class="text-secondary">{{ piece.yearComposed }}</span>
            </p>
          {%- endif -%}
          {%- if piece.instrumentation -%}
          <p class="mb-1">
            <span class="h4">Instrumentation: </span>
            <span class="text-secondary">
              {%- for instrument in piece.instrumentation -%}
                {%- if forloop.last == true -%}
                  and {{ instrument -}}
                {% else %}
                  {{ instrument | append: ', ' }}
                {%- endif -%}
              {%- endfor -%}
            </span>
          </p>
          {%- endif -%}
          {%- if piece.composer.website -%}
            <p class="mb-1">
              <span class="h4">Composer's Website: </span>
              <a href="{{ piece.composer.website }}">{{ piece.composer.website }}</a>
            </p>
          {%- endif -%}
        </div>
      </div>
    </div>
    <!-- Media entry end-->

    {% comment %}
    <div class="col-md-6 col-lg-4 post-item">
			<article class="post">
				<div class="post-preview">
          {%- if item.url contains 'youtube' or item.url contains 'vimeo' -%}
            <div class="mb-3"><iframe class="embed-responsive-item mb-3" src="{{ item.url }}" allowfullscreen></iframe></div>
          {%- elsif item.url contains 'soundcloud' -%}
    				<div class="col-12 mb-3">{% include soundcloud_player.html trackID=item.ID %}</div>
    			{%- else -%}
            <a href="#"><img src="{{site.images}}/repertoire-images/switch_misc_1000x500px.jpg" alt=""></a>
          {%- endif -%}
        </div>
				<div class="post-wrapper">
					<div class="post-header">
						<h2 class="post-title">
              <a href="blog-single.html">{{ piece.composer.first }} {{ piece.composer.last }}</a>
            </h2>
							<p class="h5 text-center">{{ piece.title }}</p>
              <p class="h5 text-center">{{ piece.size }}</p>
					</div>
					<div class="post-content"></div>
					<div class="post-more text-center">
            <a class="btn btn-round btn-sm btn-gray" href="{{ piece.url }}" role="button">More Info</a>
          </div>
				</div>
			</article>
    </div>
    {% endcomment %}

    {%- endunless -%}
  {%- endfor -%}
{%- endfor -%}
