---
# blank yaml for compiling sass
---
body {
  padding-top: 7rem;
}
.dropdown:hover>.dropdown-menu {
  display: block;
}
.business-hero {
  background: url(/assets/images/switch-home.jpg);
}
.business-hero h2, .business-hero p {
  width: auto;
}
.mixitup-rep .rep {
	display: none;
}
p.social a {
  padding-left: 1rem;
  padding-right: 1rem;
  color: #fff;
  font-size: 1.25rem;
}
