---
layout: page
---
{%- for person in site.data.members -%}
  {%- if person.name == page.about -%}
    <div class="row">
      <div class="col-md-6 pl-5 pr-5 text-center" >
        <img class="mb-4 img-fluid" src="{{ site.images }}/ensemble/{{ person.headshot }}"  alt="{{ person.name | append: Headshot}}">
      </div>
      <div class="col-md-6" >
        <h2 class="text-center text-md-left mb-3">{{ person.name }}</h2>
        {%- if person.title -%}<p class="lead text-center text-md-left mb-0">{{ person.title }}</p>{%- endif -%}
        {%- if person.role -%}<p class="lead text-center text-md-left mb-3">{{ person.role }}</p>{%- endif -%}
        <div class="row">
          <div class="col-12 col-feature mb-4">
            {{ content }}
          </div>
        </div>
      </div>
    </div>
  {%- endif -%}
{%- endfor -%}
