---
layout: default
---
<div class="blog-post">
  <div class="container">
    <h3 class="blog-post-title">{{ page.title }}</h3>
    <div class="blog-post-header">

      {%- if page.author -%}
        <div class="blog-post-author">
          <!-- <img src="images/uifaces/9.jpg"> -->
          By <span>{{ page.author }}</span>
        </div>
      {%- endif -%}

      {%- if page.date -%}
        <div class="blog-post-date">
          Date <span>{{ page.date | date_to_long_string }}</span>
        </div>
      {%- endif -%}

      <!-- <div class="blog-post-share">
        Share this post:
        <a href="#">
          <i class="ion-social-twitter"></i>
        </a>
        <a href="#">
          <i class="ion-social-facebook"></i>
        </a>
        <a href="#">
          <i class="ion-social-buffer"></i>
        </a>
      </div> -->

    </div>

    <div class="blog-post-content">
      {{ content }}
    </div>
  </div>
</div>
